# --- Terraform ---
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# --- Python & Build Basura ---
build/
__pycache__/
*.pyc

# --- IMPORTANTE: Ignorar librerías instaladas en lambda_src ---
# Ignoramos las carpetas que crea pip al instalar
lambda_src/bin/
lambda_src/PIL/
lambda_src/Pillow*
lambda_src/*.dist-info/
lambda_src/__pycache__/

# --- Archivos del sistema (Mac) ---
.DS_Store